/*
#9626FF purple
#5D69E8 royal blue
#1CB6FF light blue
#E81AB8 pink
#FF7363 salmon */

html {
  background-color: #E81AB8;
  font-family: 'Grandstander', cursive;
}

body {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

img {
  max-width: 100px;
}

h1,
h2,
h3 {
  color: #ffffff;
}

h1 {
  background-color: #9626FF;
  padding: 20px 10px;
  z-index: 1;
}

.game-title{
  padding-top: 0;
  position: fixed;
}

header {
  align-items: center;
  display:flex;
  flex-direction: row;
  height: 175px;
  justify-content: center;
  margin-top: -40px;
  width: 100%;
}

main {
  align-items: center;
  background-color: #9626FF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3%;
  margin-top: 3%;
  min-width: 55%;
  min-height: 750px;
}

.game-board {
  align-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  height: 65%;
  justify-content: center;
  margin-top: 50px;
  position: fixed;
  width: 85%;
}

button {
  background: none;
  border: none;
  height: 140px;
  width: 140px;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.bottom-border {
  border-bottom: 5px solid #FF7363;
}

.side-border{
  border-right: 5px solid #FF7363;
}

.top {
  margin-top: 50px;
}

.bottom {
  margin-bottom: 75px;
}

.p1 {
  background-image: url(./assets/fox.svgb);
  background-position: center;
  background-repeat: no-repeat;
}

.p2 {
  background-image: url(./assets/unicorn.png);
  background-position: center;
  background-repeat: no-repeat;
}

section {
  align-items: center;
  background-color: #5D69E8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 20%;
}

.hidden {
  display: none;
}
